<nav>
    <div class="topnav">
        <ul class="nav">
            <li><a href="{{ path('main_home') }}" title="home">Home</a></li>
            <li><a href="{{ path('serie_list') }}" title="all series">All series</a></li>
            <li><a href="{{ path('serie_create') }}" title="add new serie">Add a new serie</a></li>
            <li><a href="{{ path('main_test') }}" title="test">Tests</a></li>
        </ul>
    </div>
</nav>